@import url('https://fonts.googleapis.com/css?family=Creepster');

* {
  margin: 0;
  padding: 0;
}

body {
  background: url('images/scary.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 100vh;
  font-family: "Creepster";
  padding: 100px;
  

}
.wheel {
  width: 400px;
  height: 400px;

  border-radius: 50%;
  position: relative;
  transition: transform .3s;
  transform: rotate(0deg);

}

h1 {
  color: white;
  font-size: 40px;
  line-height: 30px;
  text-shadow: 8px 5px 10px #000;
}

img {
  width: 100%;
}


.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

/* .rotate-1 {
  transform: rotate(0deg);
  transition: transform .3s;
}

.rotate-2 {
  transform: rotate(45deg);
  transition: transform .3s;

}

.rotate-3 {
  transform: rotate(90deg);
  transition: transform .3s;

}

.rotate-4 {
  transform: rotate(135deg);
  transition: transform .3s;

}

.rotate-5 {
  transform: rotate(190deg);
  transition: transform .3s;

}

.rotate-6 {
  transform: rotate(250deg);
  transition: transform .3s;

}

.rotate-7 {
  transform: rotate(300deg);

} */
